<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <meta charset="UTF-8">
  <meta content="no-cache" http-equiv="cache-control"/>
  <meta content="no-cache" http-equiv="pragma"/>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
        name="viewport">
</head>
<body>

<%= require('../../partials/header.html?raw') %>
<main>
  <%= require('../../partials/breadcrumbs.html?raw') %>
  contacts
</main>
<%= require('../../partials/footer.html?raw') %>
</body>
</html>
